
#
# conf.d/keusb.example -- пример конфигурационного файла
#
# Разработал: Муковников М. Ю.
# Версия:     1.0.0
# Изменён:    16.04.2010
#

# Комментарии начинаются со знака решётки

! tries 5               # Пять пробных пакетов
! wait 3m               # Ждать три минуты
                        
% keusb reset 2         # Сброс второго устройства,                        
or                      # если или
    and                 # одновременно
       192.168.1.1      # недоступен первый,
       not 192.168.1.2  # но доступен второй,
                        
    xor                 # или недоступен только
       8.8.8.8          # один из перечисленных
       mail.google.com  # (один работает, другой нет)
                        
% keusb reset 4         # Сброс четвёртого устройства
www.kernel.org          # Если не доступен заданный адрес

